<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="android.activity.thread.oops">
	<application>
		<activity android:name="android.activity.thread.oops.HandlerActivity" android:label="HandlerActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>